body {
    background-color: #212529;
    color: #f8f9fa;
  }

.div-center {
  width: 400px;
  height: 400px;
  background-color: #1d1e22;
  color: #f8f9fa;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 0em 2em;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #1d1e22;
}
